<div class="grid myaccount">
  <div class="grid__item myaccount__comments">
    <h2>Comment</h2>
    <form id="comment-form">
      <input type="text" placeholder="Input comment" id="comment-input">
    </form>
    <table class="responsive-table">
      <tbody id="comment-tbody">
      </tbody>
    </table>
    <script>
      const customerId = {{ customer.id }}

      function fetchComments(customerId) {
        fetch(`https://00dfaf53.ngrok.io/customers/${customerId}/comments`)
          .then((resp) => {
            return resp.json()
          })
          .then((comments) => {
            let html = ''
            for (let comment of comments) {
              html += `<tr><td>${comment}</td></tr>`
            }
            document.querySelector("#comment-tbody").innerHTML = html
          })
      }

      function postComment(customerId, comment) {
        console.log(`${customerId} -> ${comment}`)
        const headers = { 'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8' }
        const body = `comment=${comment}`
        fetch(`https://00dfaf53.ngrok.io/customers/${customerId}/comments`, { method: "POST", headers, body })
          .then((resp) => {
            fetchComments(customerId)
          })
      }

      fetchComments(customerId)

      document.querySelector("#comment-form").addEventListener("submit", (e) => {
        e.preventDefault()
        const comment = document.querySelector("#comment-input").value
        console.log(comment)
        postComment(customerId, comment)
        document.querySelector("#comment-input").value = ''
      })
    </script>
  </div>
</div>
